{% extends 'base.html.twig' %}

{% block title %}Tony Di - Théâtre{% endblock %}
{% block titleSocialNetworksOP %}Tony Di - Théâtre{% endblock %}
{% block titleSocialNetworksTwitter %}Tony Di - Théâtre{% endblock %}

{% block body %}
    {{ include("pages/menu_pages.html.twig") }}

    <h1 id="theater_h1">Théâtre</h1>
    </div>

    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('post_theater_new') }}" id="post_theater_index_link_create" class="btn btn-primary">Créer un nouveau post</a>
    {% endif %}

    <div id="block_theater">
        {% for post_theater in post_theaters %}
            <h2>{{ post_theater.title }}</h2>
            <div id="post_theater_presentation" class="theater">
                {% if post_theater.urlImage != null %}
                <img src="{{ asset(post_theater.urlImage) }}">
                {% endif %}
                <div id="post_theater_content_and_link">
                    <p>{{ post_theater.content | raw }}
                        {% if post_theater.linkTeaser != null %}
                            <a href="{{ post_theater.linkTeaser }}" class="btn btn-outline-primary theater_teaser"><i class="fas fa-external-link-alt"></i> Teaser</a>
                        {% endif %}
                    </p>
                </div>
            </div>
            {% if is_granted('ROLE_ADMIN') %}
                <div id="post_theater_btn_edit_and_delete">
                    <a href="{{ path('post_theater_edit', {'id': post_theater.id}) }}" class="btn btn-outline-primary"><i class="fas fa-edit"></i> Modifier</a>
                    {{ include('post_theater/_delete_form.html.twig') }}
                </div>
            {% endif %}
        {% else %}
            <p id="post_theater_no_post_found" colspan="6">Aucun post trouvé</p>
        {% endfor %}
    </div>

    <footer>
        {{ include("pages/footer.html.twig") }}
    </footer>
{% endblock %}
