{% extends 'base.html.twig' %}

{% block title %}Tony Di - Théâtre{% endblock %}
{% block titleSocialNetworksOP %}Tony Di - Théâtre{% endblock %}
{% block titleSocialNetworksTwitter %}Tony Di - Théâtre{% endblock %}

{% block body %}
    {{ include("pages/menu_pages.html.twig") }}

    <h1 id="theater_h1">Théâtre</h1>
    </div>

    <a href="{{ path('post_theater_new') }}" id="post_theater_index_link_create" class="btn btn-primary">Créer un nouveau post</a>

    <div id="block_theater">
        {% for post_theater in post_theaters %}
            <h2>{{ post_theater.title }}</h2>
            <div class="theater img_inline">
                <img src="{{ asset(post_theater.urlImage) }}">
                <div id="post_theater_content_and_link">
                    <p>{{ post_theater.content | raw }}

                        <a href="{{ post_theater.linkTeaser }}" class="btn btn-outline-primary theater_teaser"><i class="fas fa-external-link-alt"></i> Teaser</a>
                    </p>
                </div>
            </div>
            <a href="{{ path('post_theater_show', {'id': post_theater.id}) }}" class="btn btn-outline-primary btn_show"><i class="fas fa-eye"></i> show</a>
            <a href="{{ path('post_theater_edit', {'id': post_theater.id}) }}" class="btn btn-outline-primary"><i class="fas fa-edit"></i> edit</a>
        {% else %}
            <p colspan="6">Aucun post trouvé</p>
        {% endfor %}
    </div>

    <footer>
        {{ include("pages/footer.html.twig") }}
    </footer>
{% endblock %}
