{% extends 'base.html.twig' %}

{% block title %}Tony Di - Date{% endblock %}

{% block body %}
    <a href="{{ path('post_dates_index') }}">Retour à la liste</a>
    <!--mettre affiche de l'événement par exemple -->
    <table class="table">
        <tbody>
            <tr>
                <th>Date</th>
                <td>{{ post_date.date ? post_date.date|date('d/m/Y H:i') : '' }}</td>
            </tr>
            <tr>
                <th>Spectacle</th>
                <td>{{ post_date.spectacle }}</td>
            </tr>
            <tr>
                <th>Lieu</th>
                <td>{{ post_date.lieu }}</td>
            </tr>
        </tbody>
    </table>

    <div id="post_dates_btn_show">
        <a href="{{ path('post_dates_edit', {'id': post_date.id}) }}" class="btn btn-outline-primary">Mettre à jour</a>

        {{ include('post_dates/_delete_form.html.twig') }}
    </div>
{% endblock %}
